/vnv/
/text/
/segmented_full/
/models/
/models/20epoches/
/models/50epoches/
/plots/
/splitted2/
/splitted/
/splitted3/
/WikiCorpus/
/segmented2/
/segmented/
/segmented_full/
/segmented_oneline/
/segmentednew/
/merged2/
/merged/